{
  "openapi": "3.1.0",
  "info": {
    "title": "hypernode API",
    "description": "Real-time HyperLiquid L1 streaming and REST API for market data, trading, and account management.",
    "contact": {
      "name": "hypernode",
      "url": "https://hyper.polynode.dev"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyper.polynode.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health check",
        "operationId": "health",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is alive",
            "content": { "text/plain": { "schema": { "type": "string", "example": "ok" } } }
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": ["System"],
        "summary": "Service status",
        "operationId": "status",
        "security": [],
        "responses": {
          "200": {
            "description": "Service status",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Status" } } }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "tags": ["System"],
        "summary": "Service metrics",
        "operationId": "metrics",
        "security": [],
        "responses": { "200": { "description": "Metrics JSON" } }
      }
    },
    "/exchange/prices": {
      "get": {
        "tags": ["Market Data"],
        "summary": "All mid prices",
        "operationId": "get_prices",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet", "enum": ["mainnet", "testnet"] } }
        ],
        "responses": {
          "200": {
            "description": "Map of asset name to mid price string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": { "type": "string" },
                  "example": { "BTC": "71041.5", "ETH": "2180.15", "SOL": "82.2065" }
                }
              }
            }
          }
        }
      }
    },
    "/exchange/orderbook": {
      "get": {
        "tags": ["Market Data"],
        "summary": "L2 orderbook",
        "operationId": "get_orderbook",
        "parameters": [
          { "name": "coin", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": {
          "200": {
            "description": "Orderbook snapshot",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/L2Book" } } }
          }
        }
      }
    },
    "/exchange/trades": {
      "get": {
        "tags": ["Market Data"],
        "summary": "Recent trades",
        "operationId": "get_trades",
        "parameters": [
          { "name": "coin", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": {
          "200": {
            "description": "Array of recent fills",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Fill" } } } }
          }
        }
      }
    },
    "/exchange/candles": {
      "get": {
        "tags": ["Market Data"],
        "summary": "OHLCV candles",
        "operationId": "get_candles",
        "parameters": [
          { "name": "coin", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "interval", "in": "query", "required": false, "schema": { "type": "string", "default": "1h", "enum": ["1m", "5m", "15m", "1h", "4h", "1d"] } },
          { "name": "start_time", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "end_time", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": {
          "200": {
            "description": "Candles array",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Candle" } } } }
          }
        }
      }
    },
    "/exchange/funding": {
      "get": {
        "tags": ["Market Data"],
        "summary": "Funding rates and asset contexts",
        "operationId": "get_funding",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "HyperLiquid metaAndAssetCtxs response" } }
      }
    },
    "/exchange/funding-rates": {
      "get": {
        "tags": ["Market Data"],
        "summary": "Predicted funding rates",
        "operationId": "get_predicted_fundings",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Predicted fundings per asset and venue" } }
      }
    },
    "/exchange/market/funding-history": {
      "get": {
        "tags": ["Market Data"],
        "summary": "Historical funding rates",
        "operationId": "get_funding_history",
        "parameters": [
          { "name": "coin", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "start_time", "in": "query", "required": false, "schema": { "type": "integer", "default": 0 } },
          { "name": "end_time", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Funding history array" } }
      }
    },
    "/exchange/assets": {
      "get": {
        "tags": ["Discovery"],
        "summary": "All asset metadata",
        "operationId": "get_assets",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Object with perps and spot universe arrays" } }
      }
    },
    "/exchange/spot-assets": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Spot market metadata",
        "operationId": "get_spot_assets",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Spot meta with universe array" } }
      }
    },
    "/exchange/validators": {
      "get": {
        "tags": ["Vaults & Governance"],
        "summary": "Active validators",
        "operationId": "get_validators",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Validator summaries" } }
      }
    },
    "/exchange/vaults": {
      "get": {
        "tags": ["Vaults & Governance"],
        "summary": "All vaults",
        "operationId": "get_vaults",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Vaults array" } }
      }
    },
    "/exchange/vault": {
      "get": {
        "tags": ["Vaults & Governance"],
        "summary": "Single vault details",
        "operationId": "get_vault",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Vault details" } }
      }
    },
    "/exchange/perp-auction": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Perp deploy auction",
        "operationId": "get_perp_auction",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Perp auction status" } }
      }
    },
    "/exchange/spot-auction": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Spot deploy auction",
        "operationId": "get_spot_auction",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Spot auction status" } }
      }
    },
    "/exchange/prediction/markets": {
      "get": {
        "tags": ["Prediction Markets"],
        "summary": "All prediction markets",
        "operationId": "get_prediction_markets",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Prediction markets with outcomes and questions" } }
      }
    },
    "/exchange/prediction/market": {
      "get": {
        "tags": ["Prediction Markets"],
        "summary": "Single prediction market",
        "operationId": "get_prediction_market",
        "parameters": [
          { "name": "id", "in": "query", "required": true, "schema": { "type": "integer" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Prediction market details" } }
      }
    },
    "/exchange/user/state": {
      "get": {
        "tags": ["User Data"],
        "summary": "Account state",
        "operationId": "get_user_state",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Full clearinghouse state" } }
      }
    },
    "/exchange/user/spot-state": {
      "get": {
        "tags": ["User Data"],
        "summary": "Spot account state",
        "operationId": "get_spot_state",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Spot clearinghouse state" } }
      }
    },
    "/exchange/user/open-orders": {
      "get": {
        "tags": ["User Data"],
        "summary": "Open orders",
        "operationId": "get_open_orders",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Open orders array" } }
      }
    },
    "/exchange/user/fills": {
      "get": {
        "tags": ["User Data"],
        "summary": "User fills",
        "operationId": "get_user_fills",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "User fills array" } }
      }
    },
    "/exchange/user/funding": {
      "get": {
        "tags": ["User Data"],
        "summary": "User funding payments",
        "operationId": "get_user_funding",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "start_time", "in": "query", "required": false, "schema": { "type": "integer", "default": 0 } },
          { "name": "end_time", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "User funding history" } }
      }
    },
    "/exchange/user/fees": {
      "get": {
        "tags": ["User Data"],
        "summary": "User fee tier",
        "operationId": "get_user_fees",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "User fee info" } }
      }
    },
    "/exchange/user/staking": {
      "get": {
        "tags": ["User Data"],
        "summary": "User staking",
        "operationId": "get_user_staking",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Delegation summary" } }
      }
    },
    "/exchange/user/referrals": {
      "get": {
        "tags": ["User Data"],
        "summary": "User referrals",
        "operationId": "get_user_referrals",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Referral data" } }
      }
    },
    "/exchange/user/sub-accounts": {
      "get": {
        "tags": ["User Data"],
        "summary": "Sub-accounts",
        "operationId": "get_sub_accounts",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Sub-accounts array" } }
      }
    },
    "/exchange/user/portfolio": {
      "get": {
        "tags": ["User Data"],
        "summary": "Portfolio",
        "operationId": "get_portfolio",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "Portfolio data" } }
      }
    },
    "/exchange/user/vaults": {
      "get": {
        "tags": ["User Data"],
        "summary": "User vault positions",
        "operationId": "get_user_vaults",
        "parameters": [
          { "name": "address", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "responses": { "200": { "description": "User vault equities" } }
      }
    },
    "/exchange/info": {
      "post": {
        "tags": ["Passthrough"],
        "summary": "Generic HL info passthrough",
        "operationId": "post_info",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": { "type": "allMids" }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "HL info response (forwarded as-is)" }
        }
      }
    },
    "/exchange/raw": {
      "post": {
        "tags": ["Passthrough"],
        "summary": "Raw exchange passthrough",
        "description": "Forward a pre-signed action to HyperLiquid's /exchange endpoint.",
        "operationId": "post_raw",
        "parameters": [
          { "name": "network", "in": "query", "required": false, "schema": { "type": "string", "default": "mainnet" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "HL exchange response (forwarded as-is)" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Status": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "ok" },
          "network": { "type": "string", "example": "mainnet" },
          "block": { "type": "integer", "example": 71189108 },
          "actions_per_sec": { "type": "integer", "example": 3491 },
          "uptime_seconds": { "type": "integer", "example": 24414 },
          "ws_connections": { "type": "integer" },
          "ws_subscriptions": { "type": "integer" }
        }
      },
      "PriceLevel": {
        "type": "object",
        "properties": {
          "px": { "type": "string", "description": "Price" },
          "sz": { "type": "string", "description": "Aggregate size" },
          "n": { "type": "integer", "description": "Number of orders" }
        }
      },
      "L2Book": {
        "type": "object",
        "properties": {
          "coin": { "type": "string" },
          "time": { "type": "integer" },
          "levels": {
            "type": "array",
            "description": "Index 0 = bids (descending), index 1 = asks (ascending)",
            "items": { "type": "array", "items": { "$ref": "#/components/schemas/PriceLevel" } }
          }
        }
      },
      "Fill": {
        "type": "object",
        "properties": {
          "coin": { "type": "string" },
          "side": { "type": "string", "description": "B = buy aggressor, A = sell aggressor" },
          "px": { "type": "string" },
          "sz": { "type": "string" },
          "time": { "type": "integer" },
          "hash": { "type": "string" },
          "tid": { "type": "integer" },
          "users": { "type": "array", "items": { "type": "string" } }
        }
      },
      "Candle": {
        "type": "object",
        "properties": {
          "t": { "type": "integer", "description": "Open time (ms)" },
          "T": { "type": "integer", "description": "Close time (ms)" },
          "s": { "type": "string", "description": "Symbol" },
          "i": { "type": "string", "description": "Interval" },
          "o": { "type": "string", "description": "Open price" },
          "c": { "type": "string", "description": "Close price" },
          "h": { "type": "string", "description": "High price" },
          "l": { "type": "string", "description": "Low price" },
          "v": { "type": "string", "description": "Volume" },
          "n": { "type": "integer", "description": "Number of trades" }
        }
      }
    }
  }
}
